@font-face {
  font-family: 'Ginto-Nord-700';
  src: url('../../public/fonts/Ginto-Nord-600.woff2');
}

.main {
  display: grid;
  grid-template-rows: 20% repeat(fill, 100%);
  grid-template-columns: 100%;
}

.header {
  display: flex;
  flex-flow: column wrap;
  font-family: 'Ginto-Nord-700', sans-serif;
  text-align: center;
  background-color: #5865f2;
  padding: 40px 20px;
  color: white;
}

.collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

.linkCard {
  text-decoration: none;
  color: black;
}
